body{
    font-family: sans-serif,Arial;
    line-height: 1.2;
    margin: 0;
  }
  p{
    display: block;
  }
  img{
    display: block;
    justify-content: center;
    max-width: 100%;
    height: auto;
  }